:root {
  --theme1-bg: #A26C6C !important;
  --theme2-bg: #A26C6C !important;
  --bg-primary: #A26C6C !important;
}
.log-logo img {
  max-width: 250px !important;
  max-height: 100px;
}

.featured-box-login {
  width: 100%;
  padding: 35px 30px 19px;
  box-sizing: border-box;
  margin-top: 15px;
  background: #eee;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #fff;
}

.loginFrm .login-title {
  color: #000;
  position: relative;
  margin-bottom: 30px;
  font-size: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.94rem + 2px);
  padding: 0.47rem 0.75rem;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.error, small.text-danger {
  color: #ff0000;
  margin-top: 3px;
  margin-bottom: 10px;
}

.loginInner1 {
  margin: 100px auto;
  max-width: 83%;
}

.btn-primary {
  background-color: #0088cc;
  border-color: #0088cc;
  color: #fff;
}

.login .form-group i {
  font-size: 12px;
  margin-left: 10px;
}

.mail-link {
  color: #fff !important;
  text-decoration: none !important;
}